@media only screen and (max-width:376px){
    #container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* .payment img{
        width: 80%;
    } */
}
*{
    margin: 0%;
    padding: 0%;
}
a{
    text-decoration: none;
}
.navbar-header{
     display: inline-block!important;
 }
.btn1{
    display: block;
    font-family: 'Noto Serif Display', serif;
    border-radius: 9px;
    padding: 10px 30px;
    margin: auto;
    width: 15%;
    background-color: transparent;
    box-shadow: 3px 3px 5px grey;
    
}

.btn2{
        font-family: 'Noto Serif Display', serif;
        border: 2px solid black;
        border-radius: 9px;
        padding: 10px 30px;
        margin: 5px 7px;
        background-color: transparent;
        box-shadow: 3px 3px 5px grey;        
}

.btn1:hover{
    background-color: rgb(142, 200, 248) ;
    cursor: pointer;
}
.btn2:hover{
    background-color: rgb(142, 200, 248) ;
    cursor: pointer;
}
.header{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
   
}
.header #left{
    display: flex;
    width: 50%;
}
.header #left div a{
    color: white;
    text-decoration: none;
    padding-right: 15px;
}
.header #left div a:hover{
    text-decoration: underline;
}
.header #center{
    width: 50%;
}
#category{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 180px));
    align-items: center;
    justify-content: space-around;
}
#category div img{
    width: 80%;
    margin-top: 10%;
    position: relative;
    left: 41px;
    border: 2px solid black;
    border-radius: 15px;
}
#category div img:hover{
    box-shadow: 5px 5px 10px rgb(156, 154, 154);
}
#banner2{
    background-image: url("banner3.png");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#tagline2{
    font-family: 'Cinzel', serif;
    font-size: 2.5rem;
    text-align: center;
}
#notsoboring p{
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 1rem;
}
#section{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(198, 225, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
}
#section #heading{
    border-bottom: 2px solid yellow;
    position: relative;
    padding: 1%;
    text-align: center;
    font-size: 2rem;
}
#section #subheading{
    margin-top: 1%;
    text-align: center;
    font-size: 1rem;
}
#section #content{
    text-align: center;
    font-size: 1rem;
}
    
#heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;
    font-size: 1.8rem;
    margin: 10px 0px;
}
#content2{
    display: flex;
    margin-top: 125px;
    margin-bottom: 20px;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    word-wrap: wrap;
    width: 40%;
}
.inbox{
    font-family: 'PT Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
/* .inbox:hover{
    width: 70%;  
} */
.box p{
    text-align: center;
    font-size: 15px;
}
.box img{
    width: 30%;
    height: 30%;
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 125px;
}
#container{
    display: flex;
    background-color: white;
    border-radius: 20px;
    margin: 2%;
    width: 80%;
}
.payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 33%;
}
.payment img{
    width: 30%;
}
.heading{
    color: grey;
}
#contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#about{
    display: flex;
    
}
.about a{
    text-decoration: none;
    color: black;
}
#Help{
    display: flex;   
}
#social{
    display: flex;
}
#social a{
    width: 5%;
}
#social a img{
    width: 50%;
}
#footer{
    display: grid;
    grid-template-areas: 
    'image image image terms privacy shipping ';
    align-items: center;
}
#footer img{
    grid-area: image;
}
#footer a{
    text-decoration: none;
    color: black;
}
#footer  #terms {
    grid-area: terms;
}
#footer #shipping{
    grid-area: shipping;
}
#footer #privacy{
    grid-area: privacy;
}
